<header>
  <app-header></app-header>
</header>
<div>
  <aside id="leftmenu">
      <img src="../images/logo.jpeg" width="100" />
      <header>
          <h4 style="text-align: center;">Explorez nos cakes</h4>
      </header>
      <ul>
          <li><a href="/tousdetails">Tous</a></li>
          <li><a href="/cheesecakes">Cheese cakes</a></li>
          <li><a href="/pies">Tartes</a></li>
      </ul>
  </aside>

  <figure>
      <img src="../images/cakes.jpeg" width="100" alt="La vitrine de notre boutique" />
      <figcaption>Vitrine de la boutique Cake's shop</figcaption>
  </figure>

  <main id="main">
      <table>
          <tr>
              <td><img src="../images/products/cheesecakesmall.jpeg" width="100"></td>
              <td>Cheese cake</td>
              <td>Un pur plaisir.</td>
              <td>12Dt</td>
              <td><a>Voir détails</a></td>
          </tr>
          <tr>
              <td><img src="../images/products/strawberrycheesecakesmall.jpeg" width="100"></td>
              <td>Strawberry Cheese Cake</td>
              <td>L'authentique</td>
              <td>13DT</td>
              <td><a >Voir détails</a></td>
          </tr>
      </table>
  </main>
</div>

<footer>
  <app-footer></app-footer>
</footer>

