<header>
  <app-header></app-header>
</header>

<div >
  <aside id="leftmenu">
      <img src="./images/logo.jpeg" width="100"/>
      <header>
          <h4 style="text-align: center;">Explorez nos cakes</h4>
      </header>
      <ul>
          <li><a href="/tousdetails">Tous</a></li>
          <li><a href="/cheesecake">Cheese cakes</a></li>
          <li><a href="/pies">Tartes</a></li>
      </ul>
  </aside>

  <figure>
      <img src="./images/cakes.jpeg" width="100" alt="La vitrine de notre boutique" />
      <figcaption>Vitrine de la boutique Cake's shop</figcaption>
  </figure>

  <main id="main">
      <table>
          <tr>
              <td><img src="./images/products/cheesecakesmall.jpeg" width="100"></td>
              <td>Cheese cake</td>
              <td>Un pur plaisir.</td>
              <td>12Dt</td>
              <td>Voir détails</td>
          </tr>
          <tr>
              <td><img src="./images/products/applepiesmall.jpeg" width="100"></td>
              <td>Apple pie</td>
              <td>Notre tarte de pommes vedette</td>
              <td>14DT</td>
              <td>Voir détails</td>
          </tr>
          <tr>
              <td><img src="./images/products/cherrypiesmall.jpeg" width="100"></td>
              <td>Cherry pie</td>
              <td>La classique!</td>
              <td>18Dt</td>
              <td>Voir détails</td>
          </tr>
          <tr>
              <td><img src="./images/products/cranberrypiessmall.jpeg" width="100"></td>
              <td>Cranberry pie</td>
              <td>En un mot ... Onctueuse !</td>
              <td>16DT</td>
              <td>Voir détails</td>
          </tr>
          <tr>
              <td><img src="./images/products/peachpiesmall.jpeg" width="100"></td>
              <td>Peach pie</td>
              <td>Un délice!</td>
              <td>18Dt</td>
              <td>Voir détails</td>
          </tr>
          <tr>
              <td><img src="./images/products/pumpkinpiesmall.jpeg" width="100"></td>
              <td>Pumpkin pie</td>
              <td>Le sommet du goût !</td>
              <td>17Dt</td>
              <td>Voir détails</td>
          </tr>
          <tr>
              <td><img src="./images/products/strawberrycheesecakesmall.jpeg" width="100"></td>
              <td>Strawberry Cheese Cake</td>
              <td>L'authentique</td>
              <td>13DT</td>
              <td>Voir détails</td>
          </tr>
      </table>
  </main>
</div>


